* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* imported fonts */
.font-raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* || VARIABLES */
:root {
  /* colors */
  --BTN-BGCOLOR: #4e47ff;
  --TEXT-COLOR-LG-BLUE: #4e47ff;
  --TEXT-COLOR-LG-DARK: #252432;
  --BG-COLOR-LIGHT: 

  /* width */
  --MAX-WIDTH: 1140px;
}

/* ||SHARED STYLES */
.btn-primary {
  background-color: var(--BTN-BGCOLOR);
  color: white;
  font-weight: bold;
  padding: 12px 36px;

  border: none;
  border-radius: 10px;
}

/* || BODY */
body {
  background-color: rgba(245, 248, 255, 1);
}

/* || HEADER  */
header {
  background-image: url(../Assets/Hero-bg.png);
  height: 650px;
  padding-top: 50px;
}

/* || NAV */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 150px;
}

.nav-title {
  font-size: 34px;
  font-weight: 900;
  color: var(--TEXT-COLOR-LG-BLUE);
}

/* || BANNER */
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 150px 260px;
}

.banner-title {
  color: var(--TEXT-COLOR-LG-DARK);
  font-size: 65px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}

/* || MAIN */
main {
  max-width: 1140px;
  margin: 120px auto 0;
}

/* ----------- action section --------- */
.action-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 220px;
}

.action-title {
  color: var(--TEXT-COLOR-LG-DARK);
  font-weight: 700;
  font-size: 42px;
  margin-bottom: 20px;
}

.action-description {
  color: hsl(244, 16, 17, 50);
  font-size: 24px;
  margin-bottom: 20px;
}

.action-image {
  width: 403px;
  height: 328px;
  border-radius: 48px;
}
/* ----------- end of action secton ------------- */

/* -----------------  user stat section------------ */
.user-stats-section {
  background-color: #e5e7ff;
  border-radius: 24px;
  padding: 50px 140px;
  margin-top: 120px;
}

.user-stats-title {
  color: var(--TEXT-COLOR-LG-DARK);
  font-size: 38px;
  font-weight: 700;
  text-align: center;
}

.user-stats {
  display: flex;
  justify-content: space-evenly;
}

.user-stat-data {
  font-size: 80px;
  color: var(--TEXT-COLOR-LG-BLUE);
  font-weight: 700;
  margin-top: 40px;
}

.user-stat-description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;

}

/* --------------------------- end of user stat section ------------ */


/* --------------------------- start of user reviews section ------------ */


.user-reviews-section {
  margin: 140px auto;
}

.user-reviews-section-title {
  text-align: center;
  color: var(--TEXT-COLOR-LG-DARK);
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 50px;
}

.user-reviews {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.user-review {
  background-color: white;
  border-radius: 14px;
  padding: 24px;
}

.review-stars {
  margin-bottom: 24px;
}

.review-title {
  font-size: 24px;
  color: #1e1e1e;
  font-weight: 600;
  margin-bottom: 10px;
}

.review-description {
  margin-bottom: 24px;
}

.reviewer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.reviewer-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.reviewer-name {
  color: #757575;
  font-weight: 600;
}

.review-date {
  color: #b3b3b3;
}


/* ---------------------------end of user reviews section ------------ */


/* ---------------------- start of the signup section ----------------------- */
.signup-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 14px;
  padding: 70px 150px;
  margin-bottom: 90px;
}

.signup-title {
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 20px;
}

.signup-description {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.btn-signup {
  margin-bottom: 20px;
}

.signup-img {
  border-radius: 48px;
}


/* ---------------------- end of the signup section ----------------------- */

/* ---------------------- start of the get in touch section ----------------------- */

.get-in-touch {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 115px;
  padding: 70px 0px;
  margin-bottom: 14px;
}

.get-in-touch-title {
  font-weight: 700;
  font-size: 97px;
}

.get-in-touch-form {
  display: flex;
  flex-direction: column;
}

.get-in-touch-form label {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.get-in-touch-form input[type="text"],
.get-in-touch-form input[type="email"],
.get-in-touch-form textarea {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  padding: 20px 30px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 490px;
  border: 1px solid rgba(214, 221, 237, 1);
}

.get-in-touch-form textarea {
  resize: none;
height: 160px;
}

.get-in-touch-form input[type="submit"] {
  font-size: 20px;
  padding: 20px 30px;
}

/* ---------------------- end of the get in touch section ----------------------- */



hr {
  border: none;
  border-top: 3px solid rgba(0, 0, 0, 0.06);
}

/* || FOOTER */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 530px;
  margin: 100px auto;
}

.footer-title {
  font-size: 100px;
  color: var(--TEXT-COLOR-LG-BLUE);
  font-weight: 850;
  margin-bottom: 15px;
}

.footer-description {
  color: #8987a1;
  text-align: center;
  margin-bottom: 15px;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
  gap: 48px;
}

.footer-link {
  text-decoration: none;
  color: #8987a1;
}
